![Alt text](https://www.fullstackpython.com/img/logos/sqlalchemy.jpg)

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table
from sqlalchemy import select

# $Connecting$
***

In [2]:
engine = create_engine('sqlite:///Chinook_Sqlite.sqlite')
connection = engine.connect()

# $Reflecting$
***

In [3]:
# Print tables in database 
print(engine.table_names())

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

In [4]:
# Select a table and print the columns
metadata = MetaData()
table = Table('Customer', metadata, autoload=True, autoload_with=engine) 
print(table.columns.keys())

['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']

# $Querying$
***

### $With$ $SQL$

In [5]:
stmt = 'SELECT * FROM Customer'
results1 = connection.execute(stmt)

### ***With Pythonic Language***

In [6]:
# Requires reflecting
stmt = select([table])
results2 = connection.execute(stmt)

# $Extracting$
***

In [7]:
# All rows
data = results1.fetchall()
print(data[0])

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)

In [8]:
# Some rows 
sample = results2.fetchmany(10)
print(sample)

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3), (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5), (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3), (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4), (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4), (6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5), (7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5), (8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4), (9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4), (10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)]

# $DataFraming$
***

In [9]:
import pandas as pd

df = pd.DataFrame(data)
df.columns = results1.keys()
df.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

# $Closing the Connection$
***

In [10]:
connection.close()

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

![Alt Text](https://connpass-tokyo.s3.amazonaws.com/event/23921/e10670013b344729b00b22f12f842bca.png)

![image.png](http://i63.tinypic.com/264gn7q.png)
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Basic$ $Select$</center></h3>

|.|.|.|  
|:---|:---|:---|  
|**SELECT** *column names*<br>**FROM** *table name*;|Select data from a table|**SELECT*** LastName, FirstName<br>**FROM** Persons|       
|**SELECT** \*<br>**FROM** *table name*;|Select all data from a table|**SELECT** \*<br>**FROM** Persons|
|**SELECT DISTINCT** *column names*<br>**FROM** *table name*;|Select only distinct (different) data from a table|**SELECT DISTINCT** LastName<br>**FROM** Persons;|
|**SELECT AggFunc**(*column name*)<br>**FROM** *table name*;|Perform a function on the data before returning it<br><br>- Average: **AVG**()<br>- Count: **COUNT**()<br>- Highest value: **MAX**()<br>- Lowest value: **MIN**()<br>- Sum: **SUM**()<br><br>**COUNT**(\*) = number of rows<br>**COUNT**(*column name*) = number of non-nulls in that column<br>**COUNT**(**DISTINCT** *column name*) = number of distinct values in that column<br><br>Date elements can be extracted from date columns using **YEAR**(),**MONTH**(),etc.|**SELECT AVG**(Age)<br>**FROM** Persons;|


![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Where$ $Clauses$</center></h3>

|.|.|.
|:---|:---|:---|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *value*<br>**AND** *value*<br>**OR** *value*<br>**AND**(...**OR**...)<br>etc.|Select specific data from a table<br> <br>- Equal  to:   =<br>- Not equal to:   <><br>- Greater than:   ><br>- Less than:   <<br>- Greater or equal to:   >=<br>- Less or equal to:   <=|**SELECT** \*<br>**FROM** Persons<br>**WHERE** sex='female';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName='Ryan'<br>**AND** LastName='Brenner';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** (FirstName='Ryan' **OR** FirstName='Bryan')<br>**AND** LastName='Brenner';|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *value* **BETWEEN** *a* **AND** *b*;|Select a specific, inclusive range|**SELECT** \*<br>**FROM** Persons<br>**WHERE** Year **BETWEEN** 1990 **AND** 1999;|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *value* **LIKE** *pattern*;|Search for a pattern<br><br>- Single wild card: \_<br>- Unlimited wild card: %|**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName **LIKE** 'Br_an';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName **LIKE** 'Kath%';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName **LIKE** '%iel';|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** **LCASE**(*column name*) *value*|Prevents case from missing selections of strings|**SELECT** \*<br>**FROM** Persons<br>**WHERE** **LCASE**(LastName)='mcdonald';|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *column name* **IS/IS NOT NULL**|Search for nulls or avoid them|**SELECT** \*<br>**FROM** Persons<br>**WHERE** MiddleName **IS NULL**;<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** MiddleName **IS NOT NULL**;|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *column name* **IN**(*value 1, value 2, etc.*);|Select exact values faster than multiple **AND**s|**SELECT** \*<br>**FROM** Persons<br>**WHERE** LastName **IN**(Brenner, Connolly, Stevens);|

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Ordering$</center></h3>

|.|.|.|
|:---|:---|:---|
|**SELECT** *column names*<br>**FROM** *table name*<br>**ORDERED BY** *row* **ASC/DESC**;|Select data ordered in a certain way|**SELECT** \*<br>**FROM** Persons<br>**ORDERED BY** LastName;<br><br>**SELECT** \*<br>**FROM** Persons<br>**ORDERED BY** Year **DESC**;<br><br>**SELECT** \*<br>**FROM** Persons<br>**ORDERED BY** LastName **DESC**,FirstName **ASC**;|

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Grouping$</center></h3>

|.|.|.|
|:---|:---|:---|
|**SELECT** *column names*,**AggFunc**(*column names*)<br>**FROM** *table name*<br>**GROUP BY** *column name*;|Run aggregate functions by group|**SELECT** Company,**SUM**(Amount)<br>**FROM** Sales<br>**GROUP BY** Company;|
|**SELECT** *column names*,**AggFunc**(*column names*)<br>**FROM** *table name*<br>**GROUP BY** *column name*<br>**HAVING AggFunc**(*column names*) *condition*;|Select based on the aggregated grouping|**SELECT** Company,**SUM**(Amount)<br>**FROM** Sales<br>**GROUP BY** Company<br>**HAVING SUM**(Amount)>100000;|

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Aliases$</center></h3>

|.|.|.|
|:---|:---|:---|
|**SELECT** *column name* **AS** *new name*<br>**FROM** *table name*;|Create a column alias|**SELECT** LastName **AS** Family,FirstName **AS** Name<br>**FROM** Persons;|
|**SELECT** *column name*<br>**FROM** *table name* **AS** *new name*;|Create a table alias|**SELECT** \*<br>**FROM** Persons **AS** Employees;|
|**SELECT** *column names*,<br>**CASE**<br></t>**WHEN** *condition 1* **THEN** *result 1*<br></t>**WHEN** *condition 2* **THEN** *result 2*<br></t>etc.|Create masks for given conditions|**SELECT** County,Population,<br>**CASE**<br></t>**WHEN** Population >= 400000 **THEN** 'Large'<br></t>**WHEN** Population >= 100000 **AND** Population < 400000 **THEN** 'Medium'<br></t>**WHEN** Population < 100000 **THEN** 'Small'

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Joins$</center></h3>

|.|.|.|
|:---|:---|:---|
|**SELECT** a.*column1*,b.*column2*,etc.<br>**FROM** *table 1* **AS** a<br>**INNER/FULL/LEFT/RIGHT JOIN** *table 2* **AS** b **ON** a.*key* = b.*key*;|![](https://i.stack.imgur.com/iJUMl.png)|**SELECT** a.Name,b.Product<br>**FROM** Employee **AS** a<br>**INNER JOIN** Orders **AS** b **ON** a.Employee_ID = b.Employee_ID;<br><br>**SELECT** a.Name,b.Product,c.Price<br>**FROM** Employee **AS** a<br>**RIGHT JOIN** Orders **AS** b **ON** a.Employee_ID = b.Employee_ID;**LEFT JOIN** Inventory **AS** c **ON** b.Product_ID = c.BINNUM;|
            
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Aliases$</center></h3>

|.|.|.|
|:---|:---|:---|
            
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Aliases$</center></h3>

|.|.|.|
|:---|:---|:---|
            
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

<h3><center>$Aliases$</center></h3>

|.|.|.|
|:---|:---|:---|
            
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)