![Alt text](https://www.fullstackpython.com/img/logos/sqlalchemy.jpg)

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import *

# $Connecting$
***

In [2]:
engine = create_engine('postgresql+psycopg2://analytics_student:analyticsga@analyticsga-east2.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/iowa_liquor_sales_database')
connection = engine.connect()

# $Reflecting$
***

In [3]:
# Print tables in database 
print(engine.table_names())

['products', 'stores', 'counties', 'sales']

In [4]:
# Select a table and print the columns
metadata = MetaData()
table = Table('products', metadata, autoload=True, autoload_with=engine) 
print(table.columns.keys())

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/sqlalchemy/dialects/postgresql/base.py:2543: SAWarning: Did not recognize type 'money' of column 'bottle_price'
  (attype, name))

['item_no', 'category_name', 'item_description', 'vendor', 'vendor_name', 'bottle_size', 'pack', 'inner_pack', 'age', 'proof', 'list_date', 'upc', 'scc', 'bottle_price', 'shelf_price', 'case_cost']

# $Querying$
***

$With$ $SQL$

In [5]:
stmt = """
        SELECT *
        FROM products
        WHERE LOWER(category_name) LIKE '%%vodka%%'
        AND pack<30
       """
results1 = connection.execute(stmt)

$With$ $Pythonic$ $Language$

In [6]:
# Requires reflecting
stmt = select([table])
stmt = stmt.where(and_(table.c.category_name.ilike('%vodka%'),table.c.pack<30))
results2 = connection.execute(stmt)

*[Full language documentation](https://docs.sqlalchemy.org/en/latest/core/sqlelement.html#module-sqlalchemy.sql.expression)*

> $Select$ $From$

In [ ]:
# Select all columns
stmt = select([table])

# Select specific columns
stmt = select([table.c.column1,table.c.column2])

> $Where$

In [ ]:
# Single numerical
stmt = stmt.where(table.c.numeric_col>number)
stmt = stmt.where(table.c.numeric_col>=number)
stmt = stmt.where(table.c.numeric_col<number)
stmt = stmt.where(table.c.numeric_col<=number)
stmt = stmt.where(table.c.numeric_col=number)
stmt = stmt.where(table.c.numeric_col<>number)

# Single string
stmt = stmt.where(table.c.numeric_col='string')
stmt = stmt.where(table.c.numeric_col<>'string')
stmt = stmt.where(table.c.numeric_col.ilike('string with % and _'))   #ilike is not case sensitive

# Multiple terms
stmt = stmt.where(and_(statement1,statement2))
stmt = stmt.where(or_(statement1,statement2))

> $Order$

In [ ]:
# Single 
stmt = stmt.order_by(table.c.column)

# Multi-level
stmt = stmt.order_by(table.c.column1,table.c.column2)

# Descending
stmt = stmt.order_by(desc(table.c.column1))

> $Aggregating$ $Functions$

In [ ]:
# Sum
stmt = select([func.sum(table.c.column)])

# Count
stmt = select([func.count(table.c.column)])

# Average
stmt = select([func.count(table.c.column)])

# Distinct 
stmt = select([table.c.column.distinct()])

> $Grouping$

In [ ]:
stmt = stmt.group_by(table.c.column)

> $Aliases$

In [ ]:
stmt = select([func.sum(table.c.column).label('label')])

# $Extracting$
***

In [7]:
# All rows
data = results1.fetchall()
print(data[0])

(904620, 'FLAVORED VODKA', 'Uv Red(cherry) Vodka', 380, 'Phillips Beverage Company', 200, 24, 1, None, '60', datetime.datetime(2009, 11, 5, 0, 0), None, '10087100000000', '$1.97', Decimal('2.96'), Decimal('47.30'))

In [8]:
# Some rows 
sample = results2.fetchmany(10)
print(sample)

[(904620, 'FLAVORED VODKA', 'Uv Red(cherry) Vodka', 380, 'Phillips Beverage Company', 200, 24, 1, None, '60', datetime.datetime(2009, 11, 5, 0, 0), None, '10087100000000', '$1.97', Decimal('2.96'), Decimal('47.30')), (904624, 'IMPORTED VODKA', 'Sobieski Cytron Vodka', 267, 'Imperial Brands Inc.', 750, 12, 1, None, '80', datetime.datetime(2009, 12, 29, 0, 0), None, '10089000000000', '$5.69', Decimal('8.54'), Decimal('68.32')), (904633, 'FLAVORED VODKA', "Seagram's Wild Grape Vodka", 255, 'Wilson Daniels Ltd.', 200, 24, 1, None, '70', datetime.datetime(2009, 2, 24, 0, 0), '720816000000', '20720800000000', '$1.01', Decimal('1.52'), Decimal('24.21')), (904635, 'IMPORTED VODKA', 'Grey Goose La Poire Vodka(pear)', 35, 'Bacardi U.s.a. Inc.', 750, 6, 1, None, '80', datetime.datetime(2009, 5, 15, 0, 0), None, '20080500000000', '$18.49', Decimal('27.74'), Decimal('110.94')), (904637, 'IMPORTED VODKA', 'Sobieski Cytron Vodka', 267, 'Imperial Brands Inc.', 1000, 12, 1, None, '70', datetime.datetime(2009, 12, 30, 0, 0), '89016009146', '904637', '$7.05', Decimal('10.58'), Decimal('84.60')), (904645, 'IMPORTED VODKA', 'Ketel One Citoen', 260, 'Diageo Americas', 1000, 12, 1, None, '80', datetime.datetime(2010, 2, 2, 0, 0), None, '10085200000000', '$16.47', Decimal('24.71'), Decimal('197.62')), (904647, 'IMPORTED VODKA', 'Belvedere Citrus', 420, 'Moet Hennessy Usa Inc.', 750, 6, 1, None, '80', datetime.datetime(2010, 2, 4, 0, 0), None, None, '$17.15', Decimal('25.73'), Decimal('102.90')), (904648, 'IMPORTED VODKA', 'Fris Grape Vodka', 370, 'Pernod Ricard Usa/austin Nichols', 750, 12, 1, None, '80', datetime.datetime(2010, 2, 8, 0, 0), None, '10080400000000', '$5.13', Decimal('7.70'), Decimal('61.50')), (904650, 'IMPORTED VODKA', 'Fris Cherry Vodka', 370, 'Pernod Ricard Usa/austin Nichols', 750, 12, 1, None, '80', datetime.datetime(2010, 2, 8, 0, 0), None, '10080400000000', '$5.13', Decimal('7.70'), Decimal('61.50')), (904657, 'IMPORTED VODKA', 'Fris Blueberry Vodka', 370, 'Pernod Ricard Usa/austin Nichols', 750, 12, 1, None, '80', datetime.datetime(2010, 2, 8, 0, 0), None, '10080400000000', '$5.13', Decimal('7.70'), Decimal('61.50'))]

# $DataFraming$
***

In [9]:
import pandas as pd

df = pd.DataFrame(data)
df.columns = results1.keys()
df.head()

,item_no,category_name,item_description,vendor,vendor_name,bottle_size,pack,inner_pack,age,proof,list_date,upc,scc,bottle_price,shelf_price,case_cost
0,904620,FLAVORED VODKA,Uv Red(cherry) Vodka,380,Phillips Beverage Company,200,24,1,None,60,2009-11-05,None,10087100000000,$1.97,2.96,47.30
1,904624,IMPORTED VODKA,Sobieski Cytron Vodka,267,Imperial Brands Inc.,750,12,1,None,80,2009-12-29,None,10089000000000,$5.69,8.54,68.32
2,904633,FLAVORED VODKA,Seagram's Wild Grape Vodka,255,Wilson Daniels Ltd.,200,24,1,None,70,2009-02-24,720816000000,20720800000000,$1.01,1.52,24.21
3,904635,IMPORTED VODKA,Grey Goose La Poire Vodka(pear),35,Bacardi U.s.a. Inc.,750,6,1,None,80,2009-05-15,None,20080500000000,$18.49,27.74,110.94
4,904637,IMPORTED VODKA,Sobieski Cytron Vodka,267,Imperial Brands Inc.,1000,12,1,None,70,2009-12-30,89016009146,904637,$7.05,10.58,84.60

# $Closing$ $the$ $Connection$
***

In [10]:
connection.close()

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

![Alt Text](https://connpass-tokyo.s3.amazonaws.com/event/23921/e10670013b344729b00b22f12f842bca.png)

![image.png](http://i63.tinypic.com/264gn7q.png)
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

### $Basic$ $Select$

|.|.|.|  
|:---|:---|:---|  
|**SELECT** *column names*<br>**FROM** *table name*;|Select data from a table|**SELECT*** LastName, FirstName<br>**FROM** Persons|       
|**SELECT** \*<br>**FROM** *table name*;|Select all data from a table|**SELECT** \*<br>**FROM** Persons|
|**SELECT DISTINCT** *column names*<br>**FROM** *table name*;|Select only distinct (different) data from a table|**SELECT DISTINCT** LastName<br>**FROM** Persons;|
|**SELECT AggFunc**(*column name*)<br>**FROM** *table name*;|Perform a function on the data before returning it<br><br>- Average: **AVG**()<br>- Count: **COUNT**()<br>- Highest value: **MAX**()<br>- Lowest value: **MIN**()<br>- Sum: **SUM**()<br><br>**COUNT**(\*) = number of rows<br>**COUNT**(*column name*) = number of non-nulls in that column<br>**COUNT**(**DISTINCT** *column name*) = number of distinct values in that column<br><br>Date elements can be extracted from date columns using **YEAR**(),**MONTH**(),etc.|**SELECT AVG**(Age)<br>**FROM** Persons;|


![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

### $Where$ $Clauses$

|.|.|.
|:---|:---|:---|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *value*<br>**AND** *value*<br>**OR** *value*<br>**AND**(...**OR**...)<br>etc.|Select specific data from a table<br> <br>- Equal  to:   =<br>- Not equal to:   <><br>- Greater than:   ><br>- Less than:   <<br>- Greater or equal to:   >=<br>- Less or equal to:   <=|**SELECT** \*<br>**FROM** Persons<br>**WHERE** sex='female';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName='Ryan'<br>**AND** LastName='Brenner';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** (FirstName='Ryan' **OR** FirstName='Bryan')<br>**AND** LastName='Brenner';|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *value* **BETWEEN** *a* **AND** *b*;|Select a specific, inclusive range|**SELECT** \*<br>**FROM** Persons<br>**WHERE** Year **BETWEEN** 1990 **AND** 1999;|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *value* **LIKE** *pattern*;|Search for a pattern<br><br>- Single wild card: \_<br>- Unlimited wild card: %|**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName **LIKE** 'Br_an';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName **LIKE** 'Kath%';<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** FirstName **LIKE** '%iel';|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** **LCASE**(*column name*) *value*|Prevents case from missing selections of strings|**SELECT** \*<br>**FROM** Persons<br>**WHERE** **LCASE**(LastName)='mcdonald';|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *column name* **IS/IS NOT NULL**|Search for nulls or avoid them|**SELECT** \*<br>**FROM** Persons<br>**WHERE** MiddleName **IS NULL**;<br><br>**SELECT** \*<br>**FROM** Persons<br>**WHERE** MiddleName **IS NOT NULL**;|
|**SELECT** *column names*<br>**FROM** *table name*<br>**WHERE** *column name* **IN**(*value 1, value 2, etc.*);|Select exact values faster than multiple **AND**s|**SELECT** \*<br>**FROM** Persons<br>**WHERE** LastName **IN**(Brenner, Connolly, Stevens);|

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

### $Ordering$

|.|.|.|
|:---|:---|:---|
|**SELECT** *column names*<br>**FROM** *table name*<br>**ORDERED BY** *row* **ASC/DESC**;|Select data ordered in a certain way|**SELECT** \*<br>**FROM** Persons<br>**ORDERED BY** LastName;<br><br>**SELECT** \*<br>**FROM** Persons<br>**ORDERED BY** Year **DESC**;<br><br>**SELECT** \*<br>**FROM** Persons<br>**ORDERED BY** LastName **DESC**,FirstName **ASC**;|

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

### $Grouping$

|.|.|.|
|:---|:---|:---|
|**SELECT** *column names*,**AggFunc**(*column names*)<br>**FROM** *table name*<br>**GROUP BY** *column name*;|Run aggregate functions by group|**SELECT** Company,**SUM**(Amount)<br>**FROM** Sales<br>**GROUP BY** Company;|
|**SELECT** *column names*,**AggFunc**(*column names*)<br>**FROM** *table name*<br>**GROUP BY** *column name*<br>**HAVING AggFunc**(*column names*) *condition*;|Select based on the aggregated grouping|**SELECT** Company,**SUM**(Amount)<br>**FROM** Sales<br>**GROUP BY** Company<br>**HAVING SUM**(Amount)>100000;|

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

### $Aliases$

|.|.|.|
|:---|:---|:---|
|**SELECT** *column name* **AS** *new name*<br>**FROM** *table name*;|Create a column alias|**SELECT** LastName **AS** Family,FirstName **AS** Name<br>**FROM** Persons;|
|**SELECT** *column name*<br>**FROM** *table name* **AS** *new name*;|Create a table alias|**SELECT** \*<br>**FROM** Persons **AS** Employees;|
|**SELECT** *column names*,<br>**CASE**<br>&nbsp;&nbsp;&nbsp;&nbsp;**WHEN** *condition 1* **THEN** *result 1*<br>&nbsp;&nbsp;&nbsp;&nbsp;**WHEN** *condition 2* **THEN** *result 2*<br>&nbsp;&nbsp;&nbsp;&nbsp;etc.|Create masks for given conditions|**SELECT** County,Population,<br>**CASE**<br>&nbsp;&nbsp;&nbsp;&nbsp;**WHEN** Population >= 400000 **THEN** 'Large'<br>&nbsp;&nbsp;&nbsp;&nbsp;**WHEN** Population >= 100000 **AND** Population < 400000 **THEN** 'Medium'<br>&nbsp;&nbsp;&nbsp;&nbsp;**WHEN** Population < 100000 **THEN** 'Small'<br>**END**<br>**AS** Size<br>**FROM** Census

![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

### $Joins$

|.|.|.|
|:---|:---|:---|
|**SELECT** a.*column1*,b.*column2*,etc.<br>**FROM** *table 1* **AS** a<br>**INNER/FULL/LEFT/RIGHT JOIN** *table 2* **AS** b **ON** a.*key* = b.*key*;|![](https://i.stack.imgur.com/iJUMl.png)|**SELECT** a.Name,b.Product<br>**FROM** Employee **AS** a<br>**INNER JOIN** Orders **AS** b **ON** a.Employee_ID = b.Employee_ID;<br><br>**SELECT** a.Name,b.Product,c.Price<br>**FROM** Employee **AS** a<br>**RIGHT JOIN** Orders **AS** b **ON** a.Employee_ID = b.Employee_ID;**LEFT JOIN** Inventory **AS** c **ON** b.Product_ID = c.BINNUM;|
            
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

### $Union$

|.|.|.|
|:---|:---|:---|
|*SQL statement 1* **UNION** *SQL statement 2*|Select all the different values from two SQL statements|**SELECT DISTINCT**(LastName)<br>**FROM** US_Persons<br>**UNION**<br>**SELECT DISTINCT**(LastName)<br>**FROM** UK_Persons|
|*SQL statement 1* **UNION ALL** *SQL statement 2*|Select all the values from two SQL statements|**SELECT DISTINCT**(LastName)<br>**FROM** US_Persons<br>**UNION ALL**<br>**SELECT DISTINCT**(LastName)<br>**FROM** UK_Persons|
            
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)

# $Maintenance$
  
&nbsp;&nbsp;&nbsp;&nbsp;  
$Create$ $Database$:&nbsp;&nbsp;&nbsp;&nbsp;**CREATE DATABASE** *database name*  
$Delete$ $Database$:&nbsp;&nbsp;&nbsp;&nbsp;**DROP DATABASE** *database name*  
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; 

$Create$ $Table$:&nbsp;&nbsp;&nbsp;&nbsp;**CREATE TABLE** *table name* (*column 1* *data type*,*column 2* *data type*,etc.,**PRIMARY KEY**(*column*))
- int(size) = integer with max digits set by size
- decimal(size,d) = float with max digits set by size and max decimal places set by d
- char(size) = string of fixed length of size
- varchar(size) = string of variable length up to a length of size
- date(format) = datetime with a format of format (e.g. yyyymmdd)

$Add$ $Column$:&nbsp;&nbsp;&nbsp;&nbsp;**ALTER TABLE** *table name* **ADD** (*column name data type*)  
$Delete$ $Column$:&nbsp;&nbsp;&nbsp;&nbsp;**ALTER TABLE** *table name* **DROP COLUMN** *column name*  
$Rename$ $Column$:&nbsp;&nbsp;&nbsp;&nbsp;**ALTER TABLE** *table name* **RENAME COLUMN** *old name* **TO** *new name*  
$Modify$ $Column$ $Data$ $Type$:&nbsp;&nbsp;&nbsp;&nbsp;**ALTER TABLE** *table name* **ALTER COLUMN**(*column name* **TYPE** *data type*)  
$Rename$ $Table$:&nbsp;&nbsp;&nbsp;&nbsp;**ALTER TABLE** *old name* **RENAME TO** *new name*  
$Delete$ $Table$:&nbsp;&nbsp;&nbsp;&nbsp;**DROP TABLE** *table name*  
&nbsp;&nbsp;&nbsp;&nbsp;  
&nbsp;&nbsp;&nbsp;&nbsp;  
$Insert$ $Row$:&nbsp;&nbsp;&nbsp;&nbsp;**INSERT INTO** *table name* **VALUES**(*column 1 value, column 2 value,* etc.)  
$Update$ $Row$:&nbsp;&nbsp;&nbsp;&nbsp;**UPDATE** *table name* **SET** *column 1*=*new value*, etc. **WHERE** *column* = *some identifying value*  
$Delete$ $Row$:&nbsp;&nbsp;&nbsp;&nbsp;**DELETE FROM** *table name* **WHERE** *column* = *some identifying value*  
$Delete$ $All$ $Rows$:&nbsp;&nbsp;&nbsp;&nbsp;**TRUNCATE TABLE** *table name*  
&nbsp;&nbsp;&nbsp;&nbsp;  
&nbsp;&nbsp;&nbsp;&nbsp;  
$Select$ $Into$:&nbsp;&nbsp;&nbsp;&nbsp;**SELECT** *column names* **INTO** *new table name* **FROM** *source table name*

            
![alt text](http://heienv.com/wp-content/uploads/2017/03/fancy-line-break.png)