[Return to Python Page](https://social-lorax.github.io/guides/index_py.html)

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/python/logo_python.png?raw=true)

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/underlines/python_underline.png?raw=true)

In [1]:
%%html
<style>
table {float:left}
</style>

# Super Basic 

### Comments

In [2]:
# This is a comment, it won't do anything

### Help

`help()` defines a function

In [3]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

### Data Types

|Type |Definition |Example|
|:----|:----------|:------|
|`int` = integer |number with no decimal |`1`|
|`float` = float|number with decimal |`1.0`|
|`str` = string|value-less characters |`"1"`|
|`bool` = Boolean|binary value |`TRUE`|

`type()` checks the type 

<br> 

Converting is as easy as: 

* `int()`
* `float()`
* `str()`

<br> 

Using a float in an operation will return a float

In [4]:
type(1.0 + 1)

float

Using just integers will result in integers . . .

In [5]:
type(1 + 1)

int

. . . unless it is division

In [6]:
type(1 / 1)

float

### Boolean Operators

|Function |Symbol |
|:--------|:------|
|Equal |`==` |
|Not Equal |`!=`|
|Greater Than |`>`|
|Greater Than or Equal to |`>=`|
|Less Than |`<`|
|Less Than or Equal to|`<=`|
|And |`&`|
|Or |`\|`|

### Variables 

`=` sets a variable equal to whatever you want

In [7]:
variable = "whatever you want"

<br> 

Setting a variable to a variable copies the value; it is NOT a link

In [8]:
a = 1
b = a

a = 'see!'

print(a, b)

see! 1

### Functions & Methods

* `function(object)`
* `object.method()`

In [9]:
name = 'ryan'

In [10]:
print(name)

ryan

In [11]:
name.upper()

'RYAN'

<br> 

### Math

|Function |Code |Example |
|:--------|:----|:-------|
|Addition |`+`  |`4+2`   |
|Subtration |`-` |`4-2`  |
|Multiplication |`*` |`4*2` |
|Division |`/`  |`4/2`   |
|Exponents |`**` |`4**2` |

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/underlines/python_underline.png?raw=true)

# Lists 

### Creating

In [12]:
eg_list = ['whatever', 'you', 'want', 'separated', 'by', 'comas', 4]
eg_list

['whatever', 'you', 'want', 'separated', 'by', 'comas', 4]

<br> 

Setting a variable to a list DOES link to the list

In [13]:
a = [1, 2, 3]
b = a

a[1] = "see!"

print(a, b)

[1, 'see!', 3] [1, 'see!', 3]

Slicing will override this

In [14]:
a = [1, 2, 3]
b = a[:]

a[1] = "see!"

print(a, b)

[1, 'see!', 3] [1, 2, 3]

### Indexing

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/python/Py_index.jpg?raw=true)

In [15]:
eg_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<br> 

Left to right index starts at zero and is positive

In [16]:
eg_list[1]

2

<br> 

Right to left index starts at -1 and is negative

In [17]:
eg_list[-1]

10

<br> 

`:`  is used to indicate a range that is inclusive of first and exclusive of second

In [18]:
eg_list[1:3]

[2, 3]

<br> 

Without numbers, `:` means all

In [19]:
eg_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<br>

Sublists can be sub-indexed

In [20]:
eg_sublists = [eg_list[:5],eg_list[5:]]

In [21]:
eg_sublists[1]

[6, 7, 8, 9, 10]

In [22]:
eg_sublists[1][1]

7

<br>

To find the index number of a certain item use `.index()`

In [23]:
word_list = ['banana','car','Alabama']

In [24]:
word_list.index('car')

1

### Editing

*-Replacing*

In [25]:
eg_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
eg_list[9] = 100
eg_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

<br> 

*-Deleting*

Removes the first, and only the first, occurance

In [27]:
eg_list.remove(100)
eg_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

<br> 

*-Adding Values*

In [28]:
eg_list.extend([10,11])
eg_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

<br> 

*-Adding Items*

In [29]:
eg_list.append([11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
eg_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

### Sorting

In [30]:
random_list = [3, 5, 5 , 87, 3, 236, 6]

In [31]:
sorted(random_list)

[3, 3, 5, 5, 6, 87, 236]

In [32]:
sorted(random_list, reverse=True)

[236, 87, 6, 5, 5, 3, 3]

### Counting

In [33]:
random_list.count(5)

2

### Zipping

In [34]:
name = ['Buffy','Willow','Xander']
role = ['Slayer','Witch','Comic Relief']
gender = ['F','F','M']

combined = list(zip(name, role, gender))

print(combined)

[('Buffy', 'Slayer', 'F'), ('Willow', 'Witch', 'F'), ('Xander', 'Comic Relief', 'M')]

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/underlines/python_underline.png?raw=true)

# Dictionaries 

### Creating

*-Single Level*

In [35]:
capitals = {'spain':'madrid','germany':'berlin', 'france':'paris'}

<br> 

*-Multi-level*

In [36]:
cap_pop = {'spain':{'capital':'madrid', 'pop':46.77}, 'germany':{'capital':'berlin', 'pop':80.62}}

### Using

In [37]:
cap_pop ['germany']

{'capital': 'berlin', 'pop': 80.62}

In [38]:
cap_pop['germany']['pop']

80.62

In [39]:
capitals.keys()

dict_keys(['spain', 'germany', 'france'])

In [40]:
capitals.values()

dict_values(['madrid', 'berlin', 'paris'])

### Editing

*-Adding Value*

In [41]:
capitals['italy'] = 'milan'

<br> 

*-Fixing Value*

In [42]:
capitals['italy'] = 'rome'

<br> 

*-Deleting Value*

In [43]:
del(capitals['germany'])

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/underlines/python_underline.png?raw=true)

# Sets 

### Creating

In [44]:
album_set1 = set(['Thriller', 'AC/DC', 'Back in Black'])
album_set2 = set(['AC/DC', 'Back in Black', 'The Dark Side of the Moon'])

### Editing

*-Adding*

In [45]:
album_set1.add('NSYNC')

<br> 

*-Deleting*

In [46]:
album_set1.remove('NSYNC')

### Exploring

*-Intersection*

<img src="https://github.com/social-lorax/howto_codebooks/blob/master/images/python/Py_set2.png?raw=true" style="width: 500px;">

In [47]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

<br> 

*-Difference*

<img src="https://github.com/social-lorax/howto_codebooks/blob/master/images/python/Py_set3.png?raw=true" style="width: 500px;">

In [48]:
album_set1.difference(album_set2)

{'Thriller'}

<img src="https://github.com/social-lorax/howto_codebooks/blob/master/images/python/Py_set4.png?raw=true" style="width: 500px;">

In [49]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<br> 

*-Union*

<img src="https://github.com/social-lorax/howto_codebooks/blob/master/images/python/Py_set1.png?raw=true" style="width: 500px;">

In [50]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/underlines/python_underline.png?raw=true)

# Loops 

### While

In [51]:
i = 0
while i < 5:
    print('i = ' + str(i) + ', which is still less than 5')
    i += 1

i = 0, which is still less than 5
i = 1, which is still less than 5
i = 2, which is still less than 5
i = 3, which is still less than 5
i = 4, which is still less than 5

### For

*-Range*

In [52]:
for x in range(5,10):
    print(x)

5
6
7
8
9

<br> 

*-List*

In [53]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for index, room in enumerate(areas) :
    print("room " + str(index) + ": " + str(room))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

<br> 

*-Dictionary*

In [54]:
for key, value in capitals.items() :
    print(value + " is the capital of " + key)

madrid is the capital of spain
paris is the capital of france
rome is the capital of italy

<br> 

*-List Comprehension*

In [55]:
eg_list = ['Buffy','Willow','Xander']
initials = [char[0] for char in eg_list]

initials

['B', 'W', 'X']

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/underlines/python_underline.png?raw=true)

# Functions 

### Packages 

*-Import Existing*

In [ ]:
import PACKAGE as ALIAS
from PACKAGE import FUNCTION

<br> 

*-Downloading New*

In [ ]:
!conda install -c conda-forge PACKAGE --yes
!pip install PACKAGE

### Creating New Functions

In [ ]:
def function_name(variable):
  '''
  Description of the function
  '''
 
  function

function_name(variable)

In [56]:
def greet(name):
    '''
    Greet the person after they enter their name
    '''
    
    print('Hello '+ name)

greet('Ryan')

Hello Ryan

In [57]:
def multi_out(var1, var2):
    '''
    Demonstrating how to set multiple variables 
    '''
    
    result1 = var1 * -1
    result2 = var2 * -10
    return(result1,result2)

first, second = multi_out(-9,7)

print(first, second)

9 -70

### If/Elif/Else

In [ ]:
def function_name(variable):
  '''
  Description of the function
  '''

  if logical:
    function
  elif logical:
    function
  else:
    function

In [58]:
def season(month):
    '''
    Classifies months by season
    '''
    
    if month in('Dec','Jan','Feb'):
        print('Winter')
    elif month in('Mar','Apr','May'):
        print ('Spring')
    elif month in('Jun','Jul','Aug'):
        print('Summer')
    else:
        print('Fall')
        
season('Nov')

Fall

### Default Parameters

In [ ]:
def function_name(defaultvar=default):
  '''
  Description of the function
  '''
  
  function
  
function_name()
function_name(override_variable)

In [59]:
def power(number,power=2):
    '''
    Raises  number to a power
    If no power is entered, it takes 2 as the default
    '''
    
    return number ** power

In [60]:
power(2)

4

In [61]:
power(2, 4)

16

### Infinite Parameters

In [ ]:
def function_name(*val):
  '''
  Description of the function
  '''
  
  function
  
function_name(1)
function_name(1, 2)
function_name(1, 2, ..., n)

In [62]:
def add_all(*param):
    '''
    Adds as many paramaters as you want
    '''
    
    value = 0 
    for para in param:
        value = value + para
    return value

In [63]:
print(add_all(1,2,3))

6

In [64]:
print(add_all(1,2,3,4,5,6,7,8,9,10))

55

<br> 

### Error Messages

In [ ]:
def function_name(variable):
  '''
  Description of the function
  '''

  try:
    function
  except:
    print(error)

In [65]:
def add_all(*param):
    '''
    Adds as many paramaters as you want
    '''
    
    value = 0 
    
    try: 
        for para in param:
            value = value + para
    except: 
        print("Must enter numbers, not strings")
        value = "NaN"
        
    return(value)

In [66]:
add_all(1,2,3)

6

In [67]:
add_all(1,2,"3")

Must enter numbers, not strings

'NaN'

### Lambda Functions

In [ ]:
lambda var: function

In [68]:
nums = [1,2,3,4,5]

list(map(lambda num: num ** 2, nums))

[1, 4, 9, 16, 25]

![](https://github.com/social-lorax/howto_codebooks/blob/master/images/underlines/python_underline.png?raw=true)

[Return to Python Page](https://social-lorax.github.io/guides/index_py.html)